<div class="form-group row">
    <label class="col-sm-10 col-form-label">Serial</label>
    <input type="text" class="form-control" [(ngModel)] = "serial"
        placeholder="Serial"
    >
</div>
<div class="form-group row">
    <label class="col-sm-10 col-form-label">ipv4</label>
    <input type="text" class="form-control" [(ngModel)] = "ipv4"
        placeholder="Ip"
    >
</div>

<div class="form-group row">
    <label class="col-sm-10 col-form-label">Peripherals</label>
    <app-peripheral [gw]="gw"></app-peripheral>
</div>


<button (click) = "addGw()" *ngIf="gw.id==0" class="btn btn-primary">Add</button>
<button (click) = "EditGw()" *ngIf="gw.id!=0" class="btn btn-primary">Edit</button>

